**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.venv
**/.vscode
**/*.py#
**/*.py~
**/*.pyc
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/README.md
